@charset "utf-8";

#wrap{
    width:100%;
    min-width:1200px;
}
header{position: relative;}

h1{
    position:fixed;
    left:80px; top:40px;
}

h1 img{
    width:150px;
    position:absolute;
    z-index:10000;
}

/* 내비 */
.gnb{
    position:fixed;
    right:-50%;
    background-color:#F2B680;
    width:20%;
    height:100%;
    z-index:100;
    transition:.6s;
}
.gnb > ul{
    margin-top:40%;
}
.gnb > ul > li{
    /* width:100%; height:80px; */
    text-align:center;
}
.gnb > ul > li > a{
    font-size:30px;
    font-weight:900;
    line-height:75px;
    color:#fefefe;
    display:block;
}
.gnb > ul > li:hover > a{
    background-color:#7D828C;
}

#toggle{
    position:fixed;
    right:30px; top:5%;
    width:50px; height:50px;
    padding:10px;
    z-index:1000;
}
#toggle > span{
    background-color:#F29D7E;
    width:35px; height:4px;
    display:inline-block;
    transition:.6s;
}
.t_act01{
    background-color:#7D828C !important;
    transform:rotate(45deg);
    position:absolute;top:26px;
}
.t_act02{display:none !important;}
.t_act03{
    background-color:#7D828C !important;
    transform:rotate(-45deg);
    position:absolute; top:26px;

}

/* i.fa-bars{
    position:fixed;
    right:30px;top:50%;
    font-size:40px;
    color:#F29D7E;
    z-index:10;
    display:block;
}
i.fa-times{
    font-size:40px;
    position:absolute;
    left:-50px; top:50%;
    color:#333;
    display:block;
} */
.act02{right:0%;}


/* 콘텐츠 */

#first{
    width:100%;
    height:975px;
    background-color:#7D828C;
}

/* about */
#about{
    width:100%;
    height:975px;
    position:relative;
    box-sizing:border-box;
}
#about > h3{
    font-size:50px;
    font-weight:bold;
    color:#F2B680;
    text-transform:capitalize;
    margin:60px 0px 40px 15%;
}
#about > #about_top{
    width:1200px;
    height:440px;
    display:flex;
    justify-content:space-between;
    margin:0px auto;
}
#about_top > .profile{
    width:400px;
    height:400px;
    background-color:#F2B680;
    border-radius:50%;
    position:relative;
}
#about_top > .profile > img{
    height:300px;
    position:absolute;
    left:81px; top:40px;
}
#tab_con{
    width:466px;
    padding:30px 0px;
}
#tab_con > ul{
    display:flex;
    position:relative;
}
#tab_con > ul > li > a{
    font-size:20px;
    font-weight:bold;
    color:#333;
    padding:0px 3px;
}
#tab_con > ul > li::before{
    content:"click";
    font-size:8px;
    position:relative;
    top:-15px;
    color:#F29D7E;
}

.con02 > ul > li > img{
    width:15px;            
}
.con01 > ul > li{
    line-height:25px;
    font-size:14px;
    padding-top:10px;
}
.con01 > ul > li > span{
    font-weight:bold;
}
.con02 > ul > li{
    line-height:30px;
    font-size:14px;
    padding-top:10px;
}
.con01, .con02{
    position:absolute;
    left:0px;
    display:none;
}
#resume{
    font-size:16px;
    font-weight:bold;
    border:none;
    background-color:#7D828C;
    color:#fff;
    padding:5px 20px;
    margin-top:20px;
}
#resume:hover{
    font-weight:bold;
    color:#333;
    background-color:#F29D7E;
}

/* 태그 */
.tag{
    width:581px;
    position:relative;
    right:-870px; top:-80px;
    
}
.tag > ul{
    display:flex;
    flex-wrap:wrap;
    
}
.tag > ul > li{
    font-size:20px;
    font-weight:700;
    padding:15px 30px 0px 0px;
}

/* skill */
#skill_bottom{
    width:1200px;
    height:385px;
    box-sizing:border-box;
    margin:0px auto;
    display:flex;
    justify-content:space-evenly;
}

#about > h3{
    color:#F2B680;
    font-size:40px;
    font-weight:900;
    text-transform:capitalize;
    margin:20px 0px 0px 15%;
}

#skill_left{
    width:580px;
    padding-top:20px;
}

#skill_left > ul{
    display:flex;
    flex-wrap:wrap;
}
#skill_left > ul > li{
    padding:30px 30px 0px 0px;
}
#skill_left > ul > li > img{
    width:100px;
}
#skill_left > ul > li:nth-child(4) > img{
    width:151px !important;
}

#skill_right{
    padding-top:50px;
}
#skill_right > p{
    font-size:15px;
    line-height:28px;
}


/* 포트폴리오 */
#portfolio{
    width:100%;
    height:975px;
}
#gallery{
    width:1200px;
    margin:0px auto;
}
#portfolio h3{
    color:#F2B680;
    font-size:40px;
    font-weight:900;
    text-transform:capitalize;
    padding:60px 0px 70px 15%;
}
.f_gnb{
    width:1200px;
    height:auto;
}
.f_gnb > ul {
    display:flex;
    justify-content:space-evenly;
    margin:20px 20px;
}
.f_gnb > ul > li > a{
    font-size:20px;
    border-bottom:4px ridge #7D828C;
    text-transform:uppercase;
    padding:3px 25px;
    border-radius:20px;
    font-weight:bold;
}

/* 갤러리 */
#list{
    display:flex;
    flex-wrap:wrap;
    padding-top:20px;
    border-top: 4px double #f2b680;
}

#list > li{
    width:300px; height:250px;
    overflow:hidden;
    position:relative;
}
#list img{
    width:100%; height:100%;
    object-fit:fill;
    filter:grayscale(100%);
    border:5px solid #fff;
}
#list > li:first-child img{
    height:auto;
}
.caption{
    position:absolute;
    left:5px; top:-100px;
    width:100px; height:100px;
    font-size:18px;
    font-weight:bold;
    text-transform:uppercase;
    background-color:rgb(125, 130, 140);
    color:#F29D7E;
    text-indent:15px;
    line-height:80px;
}
#list img:hover{
    filter:hue-rotate(360deg);
}

/* 모달 */
.modal{
    width:100%;
    height:100%;
    position:fixed;
    top:0px; left:0px;
    text-align:center;
    background-color:rgba(0,0,0,.8);
    z-index:1000;
}
.modal img{
    padding-top:100px;
    width:60%; height:auto;
    overflow:scroll;
}
.modal i.fa-times{
    position:absolute;
    top:100px;
    font-size:20px;
    color:#f2b680;
    padding:6px 10px;
    font-size:40px;
}
/* 메뉴 적용 서식 */
.act03{
    border:none !important;
    background-color:rgb(242, 182, 128) !important;
    color:#fff !important;
}

/* faq */
#faq{
    width:100%;
    height:975px;
}

#faq > h3{
    font-size:45px;
    font-weight:bold;
    color:#F2B680;
    text-transform:uppercase;
    padding:60px 0px 70px 15%;
}
.qa{
    width:1200px;
    margin:0px auto;
    border-top:3px solid #F2B680;
    
}

.qa > ul{}
.qa > ul > li{
    border-bottom:1px solid #F2B680;
    width:100%; height:100%;
    position:relative;
}
.qa > ul > li > a{
    font-size:16px;
    line-height:5;
    display:block;
    padding-left:60px;
}
.qa > ul > li > p{
    font-size:14px;
    line-height:2;
    background-color:#eee;
    padding-left:72px;
    display:none;
}
.qa > ul > li i.fa-angle-down{
    float:right;
    padding:35px 0px 0px 0px;
    color:#F2B680;
    font-size:25px;
}

.act{
    transform:rotate(180deg);
    position:relative;
    top:35px;
}
.act01{
    color:#F29D7E;
}


/* contact */
#contact{
    width:100%;
    height:915px;
    /* background-color:#7D828C; */
}

#contact > h3{
    font-size:40px;
    font-weight:700;
    color:#F2B680;
    text-transform:uppercase;
    padding:60px 0px 70px 15%;
}

.last_con{
    width:1200px;
    margin:0px auto;
    margin-top:30px;
    display:flex;
    justify-content:space-around;
    position:relative;
}

.last_con > .profile02{
    height:400px;
    width:500px;
    padding-top:80px;
}
.text_box{
    height:100px;
    font-size:1.5rem;
    color:#fff;
    position:absolute;
    left:110px; top:110px;
    z-index:100;
}

.email_con > .p01{
    font-size:18px;
    font-weight:bold;
    color:#333;
    position:relative;
    top:-40px; left:50px;
}
legend{
    font-size:20px;
    text-transform:uppercase;
    padding-bottom:10px;;
}
fieldset > p{
    padding:10px;
}
label{display:none;}
#subject, #name, #email{
    width:350px; height:40px;
    border:1px solid #7D828C;
    border-radius:20px;
    text-indent:10px;
}
#message{
    width:350px;height:300px;
    border:1px solid #7D828C;
    border-radius:20px;
    text-indent:10px;
    line-height:30px;
}
#send{
    border:none;
    background-color:#333;
    color:#fff;
    padding:10px 135px;
}
#send:hover{
    color:#333;
    background-color:#7D828C;
}

/* 푸터영역 */
footer{
    text-align:center;
    background-color:#7D828C;
}
footer address{
    line-height:30px;
    color:#fff;
    font-size:13px;
}